

.row {
  margin-right: 120px !important;
  margin-left: 120px  !important;
  
}

.add{
  color: white;
  background-color: blue;
} 

.remove{
  background-color: crimson;
  color: white;
  
}



.products {
  width: 250px;
 
  border: 1px solid #222222;
  
}

.cart{
  border: 1px solid #222222;
  width: auto;
  height: auto;
}


h2{
  text-align: center;
}

h5{
  text-align-last: right;
}

.grid-container{
  display:grid;
  grid-template-columns: 70% 30%;
  width: 100%;
}

.grid-inner {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 500px;
}


img{
  height: 100%;
  width: 100%;
  
}
